<div class="container-fluid">

  <div class="row">

    <img src="../assets/img/burger.png" alt="burgerpic">

    <h1>Eat Da Burger!</h1>

  </div>

  <div class="row">

    <div class="col-md-3">

    </div>

    <div class="col-md-3">

      <h2>Yummy Burgers to Eat!</h2>

      <ul>
        {{#each burgers}}
          {{> burgers/burger-block devoured=false}}
        {{/each}}
      </ul>

    </div>

    <div class="col-md-3">

      <h2>Burgers Already Eaten!</h2>

      <ul>
        {{#each burgers}}
            {{> burgers/burger-gone devoured=true}}
        {{/each}}
      </ul>

    </div>

  </div>

  <div class="row">
<!-- the following will be very dependant on what happens in the burger.js file
check for classes and id's. -->
<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Cat</button>
</form>

<h2>Create a Movie</h2>
<form id="createmovie" class="button-size">
  <textarea type="text" name="movie"></textarea>
  <button type="submit">Save Movie!</button>
</form>

  </div>

</div>